:root {
    /* colors - controls all*/
    background-color: #219eb7;
    --secondary-color: #FFCE1F;
    --accent1-color: #1B769D;
    --accent2-color: #81D9DA;
    --accent3-red: #E00000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding: .5rem;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

body {
    font-family: "Roboto", serif;
    padding: 20px;
}

header {
    background-color: #ffce1f;
    padding: 1rem;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 200px 1fr;

}

/*controls home about trips contact*/
nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    flex: 1 1 auto;
}

/*div .class .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    font-size: x-large;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}*/




main div .class .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
    font-size: x-large;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

.hero {
    position: relative;
    margin: 1rem;

}

section.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    margin: 50px;
    text-align: left;
    width: 100%;
    height: 20px
}
h1{
     
    font-size: 2rem;
    margin: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    padding: 20px;
    margin: 30px;
    height: 50%;

}



form .radio {
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    flex: 1 1 auto;
}

button {
    background-color: blue;
    color: black;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin: 1rem;
    border-radius: 10px;
}

.sociallinks {
    display: flex;
    align-content: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.container .sociallinks {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}

footer p {
    display: grid;
    align-items: baseline;

}



ul style {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* CLass Selectors */
.box {
    margin: 1rem;
    border: 1px solid #FFCE1F;
}

.container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
    grid-gap: 50px;
    padding: 10px;
}

form {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 1rem;
}



.container figure {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #FFCE1F;
    background-color: #1B769D;
    color: #FFCE1F;
    text-align: center;
}

section.contactus {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    grid-template-rows: auto auto;
    align-items: flex-start;
}

.container img {
    width: 100%;
    height: auto;
}