:root {
    /* colors*/
    background-color: #14bcc8;
    --secondary-color: #fbff1f;
    --accent1-color: #1b359d;
    --accent2-color: #06074b;
    --accent3-red: #E00000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding: .5rem;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

body {
    font-family: "Roboto", serif;
    padding: 20px;
}

header {
    background-color: #ffce1f;
    padding: 1rem;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 200px 1fr;

}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

/*MOVED COLOR INHERIT*/
nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    flex: 1 1 auto;
    color: inherit;
}

.hero {
    position: relative;
    margin: 1rem;

}

/*About H1*/
h1 {
    font-family: "Roboto", serif;
    color: #81d9da;
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: black;
    opacity: 0.7;
    padding: 1rem;

}

header img {
    width: 150px;
    height: auto;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 10px;
    left: 150px;
    padding: 0.5rem;
    background-color: #81d9da;
    width: 750px;

}

.hero article img {
    float: right;
    width: 230px;
    height: auto;
    margin: 1rem;
    right: 0;
}

h2 {
    font-family: "Roboto", serif;
    font-weight: 980;
    grid-column: 1/4;
    text-align: center;
    padding: 1rem;

}


section.history {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;

}

.adventure h2 {
    font-family: "Roboto", serif;
    font-weight: 980;
    grid-column: 1/6;
    padding: 1rem;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    padding: 35px;
    font-size: x-large;
    text-align: center;
}


.sociallinks {
    text-decoration: none;
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 5px;
    display: flex;

    justify-content: space-around;
    grid-template-rows: 2fr 1fr;
    height: 55px;
    grid-gap: 16px;
}



.sociallinks ul li {
    list-style: none;
    display: inline-block;

}

.sociallinks li a {
    width: 15px;
    height: 15px;

}

footer img {
    width: 50%
}

footer p {

    display: grid;
    align-items: baseline;
    align-content: flex-start;


}



.box {
    margin: 1rem;
    border: 1px solid #FFCE1F;
}

.container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
    grid-gap: 50px;
    padding: 10px;
}

.container figure {
    margin: 1rem;
    image-orientation: from-image;
    padding: 1rem;
    border: 1px solid #e5ff1f;
    background-color: #1b359d;
    color: #e5ff1f;
    text-align: center;
}


.container img {
    width: 100%;
    height: auto;
}




/*CONTACT US PAGE*/
.contactmain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
}

.support {
    font-family: "Roboto", serif;
    color: #06074b;
    top: 18px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0.7;
    padding: 1rem;
    grid-row: 2/3;
    grid-column: 2/3;

}

.cu {
    text-align: left;
    color: black;
    font-size: large;
    padding: 1rem;

}

.contact h3#myheader {
    display: block;
    text-align: left;
    color: black;
}


section .happyemployees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 35px;
    font-size: x-large;
    text-align: center;
    grid-column: span 2;
    grid-row: 1/2;
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    justify-items: start;
    padding: 1rem;
    margin-left: 3px;
    justify-items: start;
    grid-template-columns: 1fr;
    grid-row: 2/3;
}

button {
    background-color: rgba(9, 9, 254, 0.732);
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    max-width: 500px;
    color: white;
}

.happyemployees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.happyemployees img {
    width: 200px;
    height: 200px;
    justify-content: space-around;
    align-content: center;
}

.container .happyemployees figure {
    margin: 2rem;
    padding: 1rem;
    border: 1px solid#e5ff1f;
    background-color: #1B769D;
    color: #e5ff1f;
    text-align: center;


}


/*INDEX PAGE*/
.arch img {
    width: 100%;
    height: 400px;
}



section.story img {
    align-content: center;
    display: grid;
    text-align: center;
    margin: 0 auto;
}

/*TRIPS PAGE*/
.trips h1 {
    font-family: "Roboto", serif;
    color: #81d9da;
    top: 200px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
    margin-top: 60px;
}

.excursion {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    gap: 1rem;

}


.column1 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    margin-top: 140px;

}

.column2 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    text-align: center;
    margin-top: 140px;
}

.column3 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    margin-top: 140px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column1 img {
    width: 100%;
    height: 150px;
}

.column3 img {
    width: 100%;
    height: 150px;
}

.column1 img {
    width: 100%;
    height: 200px;
}

.column3 img {
    width: 100%;
    height: 200px;
}