:root {
    /* colors*/
    background-color: #0F4157;
    --secondary-color: #FFCE1F;
    --accent1-color: #1B769D;
    --accent2-color: #81D9DA;
    --accent3-red: #E00000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    padding: 20px;
}
header, main, footer{
    max-width: 960px;
    margin: 0 auto;
}
header {
    background-color: #ffce1f;
    padding: 2rem;
    display: flex;
    justify-content: space;
}

nav {
    display: flex;
}
nav a{
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}
main {
    max-width: 960px;
}

.hero {
    position: relative;
    margin: 1rem;
    
}

h1 {
    font-family: "Roboto", serif;
    color: #81d9da;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: black;
    opacity: 0.7;
    padding: 1rem;

}

.hero img {
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    justify-content: left;
    bottom: 55px;
    left: 473px;
    padding: 1rem;
    background-color: #81d9da;
}

.hero article img {
    float: right;
    width: 230px;
    height: auto;
    margin: 1rem;
}

article p {
}

h2 {
    font-family: "Roboto", serif;
    font-weight: 980;
}

section .adventure{
    padding: 35px;
    font-size: x-large;

}

.sociallinks {
    text-decoration: none;
}

/* CLass Selectors */
.box {
    margin: 1rem;
    border: 1px solid #FFCE1F;
}